# Ignore all files in the directory


# Except this file
!.gitignore

# Ignore compiled files
*.class
*.o
*.so
*.dll
*.exe
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
c_cpp_properties.json
.vscode/tasks.json
./vscode/
